<div class="c12">
	
	<h1>Beer me!</h1>
	
	<div id="beer-db" class="big-list gray">
		
		<div class="row header">
			<div class="col image"></div>
			<div class="col beer">Öl</div>
			<div class="col stats">Info</div>
			<div class="col brewery">Bryggeri</div>
			<div class="col systembolaget">Systembolaget</div>
		</div>
		
		<% if @beers.count > 0 %>
		
			<% @beers.each do |beer| %>
			<div class="row">
				<div class="col image"><%= image_tag beer.img.url %></div>
				<div class="col beer">
					<%= link_to beer.name, beer_path(beer) %><br />
					<%= beer.beer_type.name %>
				</div>
				<div class="col stats">
					Alkoholhalt: <%= beer.abv %> %<br />
					Bitterhet: <%= beer.ibu %> IBU<br />
					Färg: <%= beer.ebc %> EBC
				</div>
				<div class="col brewery">
					<%= link_to beer.brewery.name, brewery_path(beer.brewery) %><br />
					<%= beer.brewery.city %> <%= beer.brewery.nationality %>
				</div>
				<div class="col systembolaget">
					<% if beer.systembolaget?
						url = 'http://www.systembolaget.se/Sok-dryck/Dryck/?varuNr=' + beer.systembolaget.to_s
						link = beer.systembolaget.to_s
					%>
					Artikel nr: <%= link_to link, url, :target => "_blank" %>
					<% else %>
						saknas
					<% end %>
					
				</div>
			</div>
			<% end %>
			
		<% else %>
			<div class="row">
				<div class="col">Inga öl hittade</div>
			</div>
		<% end %>
		
		<div class="clear"></div>
		
	</div>
</div>