<% provide(:title, 'Öl') %>
<div class="c12">
	<h1><%= yield(:title) %></h1>
	<p>Sök efter öl i vår databas, sökning görs på ölets namn, bryggeri eller systembolagets artikelnummer.</p>
	<%= form_tag(beer_list_path, :method => :get) do |f| %>
		<div id="beer-search" class="c8">
			
			<div class="row">
				
				<div class="col">
					<%= text_field_tag :search, params[:search], :autofocus => true %>
				</div>
				
				<div class="col">
					<%= submit_tag "Sök" %>
				</div>
				
			</div>
			
			<div class="row">
			
				<div class="col">
					<% @country_options = Brewery.select(:nationality).distinct.map{|country| [country.nationality, country.nationality] }.insert(0, ["", ""]) %>
					<label>Land</label>
					<%= select_tag("country", options_for_select(@country_options)) %>
				</div>
				
				<div class="col">
					<% @beer_type_options = BeerType.all.map{|beer_type| [beer_type.name, beer_type.id] }.insert(0, ["", ""]) %>
					<label>Typ</label>
					<%= select_tag("beer_type", options_for_select(@beer_type_options)) %>
				</div>
				
			</div>
		</div>
	<% end %>

	<div class="clear"></div>
	
	<div id="beer-db" class="big-list gray">
	
		<% if @beers.any? %>
		
		<div class="row header">
			<div class="col image"></div>
			<div class="col beer">Öl</div>
			<div class="col stats">Info</div>
			<div class="col brewery">Bryggeri</div>
			<div class="col systembolaget">Systembolaget</div>
		</div>
		
		<% @beers.each do |beer| %>
		<div class="row">
			<div class="col image"><%= image_tag beer.img.url %></div>
			<div class="col beer">
				<%= link_to beer.name, beer_path(beer) %><br />
				<%= beer.beer_type.name %>
			</div>
			<div class="col stats">
				<%
				abv = beer.abv ? beer.abv.to_s + '%' : '' 
				ibu = beer.ibu ? beer.abv.to_s + ' IBU' : ''
				ebc = beer.ebc ? beer.abv.to_s + ' EBC' : ''
				%>
				<span class="label">Alkoholhalt</span><%= abv %><br />
				<span class="label">Bitterhet</span><%= ibu %><br />
				<span class="label">Färg</span><%= ebc %>
			</div>
			<div class="col brewery">
				<%= link_to beer.brewery.name, brewery_path(beer.brewery) %><br />
				<%= beer.brewery.city %> <%= beer.brewery.nationality %>
			</div>
			<div class="col systembolaget">
				<% if beer.systembolaget?
					url = 'http://www.systembolaget.se/Sok-dryck/Dryck/?varuNr=' + beer.systembolaget.to_s
					link = beer.systembolaget.to_s
				%>
				Artikel nr: <%= link_to link, url, :target => "_blank" %>
				<% else %>
					saknas
				<% end %>
				
			</div>
		</div>
		<% end %>
		
		<% else %>
			<div class="row">
				<div class="col">Inga träffar</div>
			</div>
		<% end %>
		
		<div class="clear"></div>
		
	</div>
</div>