<% provide(:title, 'Bryggeri-lista') %>
<div class="c12">
	
	<h1><%= yield(:title) %></h1>
	<p>Sök efter bryggerier i vår databas, sökninig görs på: Namn, Land, Stad och Stat</p>
	
	<%= form_tag(brewery_list_path, :method => :get) do |f| %>
		<div id="brewery-search" class="c8">
			
			<div class="row">
				<div class="col">
					<%= text_field_tag :search, params[:search], :autofocus => true %>
				</div>
				<div class="col">
					<%= submit_tag "Sök" %>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<% @country_options = Brewery.select(:nationality).distinct.map{|country| [country.nationality, country.nationality] }.insert(0, ["", ""]) %>
					<label>Land</label>
					<%= select_tag("country", options_for_select(@country_options)) %>
				</div>
			</div>
		</div>
	<% end %>

	<div class="clear"></div>

	<div id="brewery-db" class="big-list gray">
		
		<% if @breweries.any? %>
		
		<div class="row header">
			<div class="col image"></div>
			<div class="col brewery">Bryggeri</div>
			<div class="col nationality">Land</div>
			<div class="col city">Stad</div>
			<div class="col beer-count">Antal öl</div>
		</div>
		
		<% @breweries.each do |brewery| %>
		<div class="row">
			<div class="col image"><%= image_tag brewery.img.url %></div>
			<div class="col brewery"><%= link_to brewery.name, brewery_path(brewery) %></div>
			<div class="col nationality"><%= brewery.nationality %></div>
			<div class="col city">
				<%= brewery.city %>
				<% if brewery.state? %>
				, <%= brewery.state %>
				<% end %>
			</div>
			<div class="col beer-count"><%= brewery.beers.count %></div>
		</div>
		<% end %>
		
		<% else %>
		<div class="row">
			<div class="col">
				Inga resultat
			</div>
		</div>
		<% end %>
		
		<div class="clear"></div>
		
	</div>
</div>