<%= form_for(@brewery_contact) do |f| %>
  <% if @brewery_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brewery_contact.errors.count, "error") %> prohibited this brewery_contact from being saved:</h2>

      <ul>
      <% @brewery_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brewery_id %><br>
    <%= f.collection_select :brewery_id, Brewery.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :contact_type_id %><br>
    <%= f.collection_select :contact_type_id, ContactType.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :brewery_contact %><br>
    <%= f.text_field :brewery_contact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
