<h1>Listing brewery_contacts</h1>

<table>
  <thead>
    <tr>
      <th>Brewery</th>
      <th>Contact type</th>
      <th>Brewery contact</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @brewery_contacts.each do |brewery_contact| %>
      <tr>
        <td><%= brewery_contact.brewery_id %></td>
        <td><%= brewery_contact.contact_type_id %></td>
        <td><%= brewery_contact.brewery_contact %></td>
        <td><%= link_to 'Show', brewery_contact %></td>
        <td><%= link_to 'Edit', edit_brewery_contact_path(brewery_contact) %></td>
        <td><%= link_to 'Destroy', brewery_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brewery contact', new_brewery_contact_path %>
