<% provide(:title, 'Registrera') %>
<h1><%= yield(:title) %></h1>

<%= form_for(@user) do |u| %>

	<% if @user.errors.any? %>
		<div id="error_explanation">
			<div class="alert alert-error">
				The form contains <%= pluralize(@user.errors.count, "error") %>.
			</div>
			<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<div>
		<%= u.label :name %>
		<%= u.text_field :name %>
	</div>
	<div>
		<%= u.label :email %>
		<%= u.text_field :email %>
	</div>
	
	<div>
		<%= u.label :password, "Lösenord" %>
		<%= u.password_field :password %>
	</div>
	
	<div>
		<%= u.label :confirmation, "Bekräfta lösenord" %>
		<%= u.password_field :confirmation %>
	</div>
	
	<div>
		<%= u.submit "Registrera" %>
	</div>
<% end %>