<% provide(:title, 'Contact Types') %>
<div class="c6">
	<h1><%= yield(:title) %></h1>

	<div id="contact-type-list">
		<div class="list-row">
			<div class="list-col">Id</div>
			<div class="list-col">Namn</div>
			<div class="list-col">Ta bort</div>
		</div>
		<% @contact_types.each do |ct| %>
		<div class="list-row">
			<div class="list-col"><%= ct.id %></div>
			<div class="list-col"><%= ct.name %></div>
			<div class="list-col"><%= link_to "Ta bort", contact_type_path(ct) , method: :delete %>
			</div>
		</div>
		<% end %>

	</div>
</div>

<div class="c6">
	<%= render 'form' %>
</div>