<% provide(:title, 'Kontakt-typer') %>
<div class="c8">
	<h1><%= yield(:title) %></h1>

	<div id="contact-type-list">
		<div class="list-row header">
			<div class="list-col id">Id</div>
			<div class="list-col name">Namn</div>
			<div class="list-col count">Antal</div>
			<div class="list-col delete">Ta bort</div>
		</div>
		<% @contact_types.each do |ct| %>
		<div class="list-row">
			<div class="list-col id"><%= ct.id %></div>
			<div class="list-col name"><%= ct.name %></div>
			<div class="list-col count"><%= ct.brewery_contacts.length %></div>
			<div class="list-col delete"><%= link_to "Ta bort", contact_type_path(ct) , method: :delete %>
			</div>
		</div>
		<% end %>

	</div>
</div>

<div class="c4">
	<h2>Lägg till Kontakt-typ</h2>
	<div id="contact-type-form">
		<%= render 'form' %>
	</div>
</div>