<% provide(:title, 'Contact Types') %>
<h1><%= yield(:title) %></h1>

<div>
	<%= link_to "Ny Contact Type", new_contact_type_path %>
</div>

<div class="list">
	<div class="list-row">
		<div class="list-col">Id</div>
		<div class="list-col">Namn</div>
		<div class="list-col">Hantera</div>
	</div>
<% @contact_types.each do |ct| %>
	<div class="list-row">
		<div class="list-col"><%= ct.id %></div>
		<div class="list-col"><%= link_to ct.name, contact_type_path(ct) %></div>
		<div class="list-col">
			<%= link_to "Redigera", edit_contact_type_path(ct) %>
			<%= link_to "Ta bort", contact_type_path(ct) , method: :delete %>
		</div>
	</div>
<% end %>
</div>