<% provide(:title, 'Kontakt-typer') %>
<div class="c12">
	<h1><%= yield(:title) %></h1>
	
	<div class="c8">
		<div id="contact-type-list" class="small-list gray">
		
			<div class="row header">
				<div class="col id">Id</div>
				<div class="col name">Namn</div>
				<div class="col count">Antal</div>
				<div class="col delete">Ta bort</div>
			</div>
			
			<% @contact_types.each do |ct| %>
			<div class="row">
				<div class="col id"><%= ct.id %></div>
				<div class="col name"><%= ct.name %></div>
				<div class="col count"><%= ct.brewery_contacts.length %></div>
				<div class="col delete"><%= link_to "Ta bort", contact_type_path(ct) , method: :delete %>
				</div>
			</div>
			<% end %>
			
			<div class="clear"></div>
			
		</div>
	</div>

	<div class="c4">
		<h2>Lägg till Kontakt-typ</h2>
		<div id="contact-type-form">
			<%= render 'form' %>
		</div>
	</div>
	
</div>