<% provide(:title, 'Contact Types') %>
<h1><%= yield(:title) %></h1>
<%= link_to "Ny Contact Type", new_contact_type_path %>
<% @contact_types.each do |ct| %>
	<p>
		<%= ct.id %>: <%= ct.name %><br />
		<%= link_to "Redigera", edit_contact_type_path(ct) %>
		<%= link_to "Ta bort", contact_type_path(ct) , method: :delete %>
	</p>
<% end %>