<% provide(:title, 'Skapa Contact Types') %>
<h1><%= yield(:title) %></h1>

<%= form_for :contact_types, url: contact_types_path do |f| %>
	
	<% if @contact_type.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@contact_type.errors.count, "error") %> prohibited this contact_type from being saved:</h2>
			<ul>
			<% @contact_type.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	
	<div>
		<%= f.submit %>
	</div>
	
<% end %>