<h2>Adress</h2>
<div>
	<%= @brewery.address %><br />
	<%= @brewery.address2 %>
</div>
<div><%= @brewery.zip %> <%= @brewery.city %></div>
<div><%= @brewery.state %> <%= @brewery.nationality %></div>