<% provide(:title, 'Bryggerier') %>
<h1><%= yield(:title) %></h1>
<div>
	<%= link_to "Lägg tillBryggeri", new_brewery_path %> -
	<%= link_to "Kontakttyper", contact_types_path %>
</div>

<div>
<% @breweries.each do |b| %>
	<p>
		<%= link_to b.name, brewery_path(b) %><br />
		<%= link_to "Redigera", edit_brewery_path(b) %>
		<%= link_to "Ta bort", brewery_path(b) , method: :delete %>
	</p>
<% end %>
</div>