<% provide(:title, 'Bryggerier') %>
<div class="c12">
	<h1><%= yield(:title) %></h1>
	<div>
		<%= link_to "Lägg till Bryggeri", new_brewery_path %> -
		<%= link_to "Kontakttyper", contact_types_path %>
	</div>

	<div id="brewery-list">
		<div class="list-header">
			<div class="list-col">Bryggeri</div>
			<div class="list-col">Land</div>
			<div class="list-col">Antal</div>
			<div class="list-col">Ta bort</div>
		</div>
	<% @breweries.each do |b| %>
		<div class="list-row">
			<div class="list-col"><%= link_to b.name, edit_brewery_path(b) %></div>
			<div class="list-col"><%= b.nationality %></div>
			<div class="list-col"><%= b.beers.length %></div>
			<div class="list-col"><%= link_to "Delete", brewery_path(b) , method: :delete %></div>
		</div>
	<% end %>
	</div>
</div>