<% provide(:title, 'Lägg till bryggeri') %>
<div class="c8">
	<h1><%= yield(:title) %></h1>
	
	<div id="brewery-form">
		<%= form_for(@brewery) do |f| %>

			<% if @brewery.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>
					<ul>
					<% @brewery.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
					</ul>
				</div>
			<% end %>
			
			<div class="form-row">
				<div class="form-label"><%= f.label :name %><span class="req">*</span></div>
				<div class="form-input"><%= f.text_field :name %></div>
			</div>
			
			<div class="form-row">
				<div class="form-label"><%= f.label :address %></div>
				<div class="form-input"><%= f.text_field :address %></div>
			</div>
			
			<div class="form-row">
				<div class="form-label"><%= f.label :address2 %></div>
				<div class="form-input"><%= f.text_field :address2 %></div>
			</div>
			
			<div class="form-row">
				<div class="form-label"><%= f.label :city %></div>
				<div class="form-input"><%= f.text_field :city %></div>
			</div>
			
			<div class="form-row">
				<div class="form-label"><%= f.label :zip %></div>
				<div class="form-input"><%= f.text_field :zip %></div>
			</div>
			
			<div class="form-row">
				<div class="form-label"><%= f.label :state %></div>
				<div class="form-input"><%= f.text_field :state %></div>
			</div>
			
			<div class="form-row">
				<div class="form-label"><%= f.label :nationality %><span class="req">*</span></div>
				<div class="form-input"><%= f.text_field :nationality %></div>
			</div>
			
			<div class="form-row">
				<div class="form-label"><%= f.label :description %></div>
				<div class="form-input"><%= f.text_area :description %></div>
			</div>
			
			<div class="form-row">
				<%= f.submit "Lägg till" %>
				<%= link_to "Tillbaka", breweries_path %>
			</div>
			
		<% end %>
	</div>
</div>