<div>
	<div><%= @brewery.id %></div>
	<div><%= @brewery.name %></div>
	<div><%= @brewery.address %></div>
	<div><%= @brewery.address2 %></div>
	<div><%= @brewery.city %></div>
	<div><%= @brewery.state %></div>
	<div><%= @brewery.nationality %></div>
	<div><%= @brewery.description %></div>
</div>