<div class="c6">
	
	<%= image_tag @brewery.img.url, class: "brewery-logo" %>
	
	<h1><%= @brewery.name %></h1>
	
	<div>
		<p><strong>Nationalitet:</strong> <%= @brewery.nationality %></p>
		<p>
			<strong>Etablerings år:</strong> <%= @brewery.established %></p>
		<p>
			<strong>Hemsida:</strong><br />
			<% if @brewery.homepage.blank? %>
			okänd
			<% else %>
			<%= link_to @brewery.homepage, @brewery.homepage, :target => "_blank" %>
			<% end %>
		</p>
		<p><%= @brewery.description %></p>
	</div>
	
	<div class="clear"></div>
	
	<div class="c3">
		<h3>Adress</h3>
		<% if @brewery.address.blank? &&  @brewery.zip.blank? && @brewery.city.blank? %>
		<p>Adress saknas</p>
		<% else %>
		<%= render 'breweries/show_address' %>
		<% end %>
	</div>

	<div class="c3">
		
		<h3>Kontaktinfo</h3>
		
		<% if @brewery.brewery_contacts.any? %>
		
		<% @brewery.brewery_contacts.each do |bc| %>
		<div class="row">
			<div class="col type"><%= bc.contact_type.name %></div>
			<div class="col contact"><%= bc.brewery_contact %></div>
		</div>
		<% end %>
		
		<% else %>
		<div class="row">
			<div class="col type">Ingen kontaktinformation</div>
		</div>
		<% end %>
	</div>
</div>

<div class="c6">
	<h2>Öl från <%= @brewery.name %></h2>
	<div id="brewery-beer-list" class="small-list gray">
		<div class="row header">
			<div class="col beer">Öl</div>
			<div class="col beer_type">Typ</div>
			<div class="col abv">abv</div>
			<div class="col rating">Betyg</div>
			<div class="col count">#</div>
		</div>
		<% @brewery.beers.each do |b| %>
		<div class="row">
			<div class="col beer"><%= link_to b.name, beer_path(b) %></div>
			<div class="col beer_type"><%= b.beer_type.name %></div>
			<div class="col abv">
				<% if b.abv %>
					<%= b.abv %>%
				<% else %>
					_
				<% end %>
			</div>
			<div class="col rating">
				<% rating = b.logged_beers.joins(:logged_beer_score).average(:overall) %>
				<% if rating %>
					<%= rating.round(2) %>
				<% else %>
					_
				<% end %>
			</div>
			<div class="col count">
				<%= b.logged_beers.joins(:logged_beer_score).count %>
			</div>
		</div>
		<% end %>
	</div>
	<div class="clear"></div>
</div>
