<div>
	<div><%= @brewery.id %></div>
	<div><%= @brewery.name %></div>
	<div><%= @brewery.address %></div>
	<div><%= @brewery.address2 %></div>
	<div><%= @brewery.city %></div>
	<div><%= @brewery.state %></div>
	<div><%= @brewery.nationality %></div>
	<div><%= @brewery.description %></div>
</div>
<hr />
<div>
	<p>Kontaktinfo</p>
	<%= render @brewery.brewery_contacts %>
	
</div>
<hr />
<div>
	<p>Ny kontakt</p>
	
	<%= render 'brewery_contacts/form' %>
</div>