<div class="c8">
	<h1><%= @brewery.name %><img class="brewery-nat" src="/images/x.jpg" /><img class="brewery-logo" src="/images/x.jpg" /></h1>
	<div><%= @brewery.description %></div>
</div>

<div class="c4">
	<h2>Öl</h2>
	<div id="brewery-beer-list">
	<% @brewery.beers.each do |b| %>
		<div class="row">
			<div class="col"><%= link_to b.name, beer_path(b) %></div>
			<div class="col"><%= b.beer_type.name %></div>
			<div class="col"><%= b.abv %> %</div>
		</div>
	<% end %>
	</div>
	<div class="clear"></div>
</div>

<div class="c12">
	<div class="c4">
		<h2>Adress</h2>
		<div>
			<%= @brewery.address %><br />
			<%= @brewery.address2 %>
		</div>
		<div><%= @brewery.zip %> <%= @brewery.city %></div>
		<div><%= @brewery.state %> <%= @brewery.nationality %></div>
	</div>

	<div class="c4">
		<h3>Kontaktinfo</h3>
		<%= render @brewery.brewery_contacts %>
	</div>
</div>