<% provide(:title, 'Redigera Öl') %>
<div class="c12">
	<h1><%= yield(:title) %></h1>

	<div id="beer-form">
		<%= form_for(@beer) do |f| %>

			<%= render 'shared/error_messages', object: f.object %>
			
			<div class="c6">
			
				<div class="form-row">
					<div class="form-label"><%= f.label :systembolaget %></div>
					<div class="form-input"><%= f.text_field :systembolaget %></div>
				</div>
			
				<div class="form-row">
					<div class="form-label"><%= f.label :name %></div>
					<div class="form-input"><%= f.text_field :name %></div>
				</div>
				
				<div class="form-row">
					<div class="form-label"><%= f.label :brewery_id %></div>
					<div class="form-input"><%= collection_select(:beer, :brewery_id, Brewery.all ,:id, :name) %></div>
				</div>
				
				<div class="form-row">
					<div class="form-label"><%= f.label :beer_type_id %></div>
					<div class="form-input"><%= collection_select(:beer, :beer_type_id, BeerType.all ,:id, :name) %></div>
				</div>
			
			</div>
			<div class="c6">
				
				<div class="form-row">
					<div class="form-label"><%= f.label :abv %></div>
					<div class="form-input"><%= f.text_field :abv %></div>
				</div>
				
				<div class="form-row">
					<div class="form-label"><%= f.label :ibu %></div>
					<div class="form-input"><%= f.text_field :ibu %></div>
				</div>
				
				<div class="form-row">
					<div class="form-label"><%= f.label :ebc %></div>
					<div class="form-input"><%= f.text_field :ebc %></div>
				</div>
				
				<div class="form-row">
					<div class="form-label"><%= f.label :img %></div>
					<div class="form-input"><%= f.file_field :img %></div>
				</div>
				
			</div>
			
			<div class="form-row">
				<%= f.submit "Spara" %>
				<%= link_to "Tillbaka", beers_path %>
			</div>
			
		<% end %>
	</div>
</div>