<% provide(:title, 'Öl') %>
<dic class="c12">
	<h1><%= yield(:title) %></h1>
	
	<div class="">
		<p><a href="#" class="toggle-button" data-toggle-container="#beer-quick-form">visa / dölj Snabbformulär</a></p>
		<div id="beer-quick-form">
			<%= render 'form' %>
		</div>
	</div>
	
	<div id="beer-list" class="small-list gray">
		
		<div class="row header">
			<div class="col beer">Öl</div>
			<div class="col beer-type">Typ</div>
			<div class="col brewery">Bryggeri</div>
			<div class="col delete">Ta bort</div>
		</div>
		
		<% @beers.each do |beer| %>
		<div class="row">
			<div class="col beer"><%= link_to beer.name, edit_beer_path(beer) %></div>
			<div class="col beer-type"><%= beer.beer_type.name %></div>
			<div class="col brewery"><%= link_to beer.brewery.name, edit_brewery_path(beer.brewery) %></div>
			<div class="col delete"><%= link_to "Ta bort", beer_path(beer) , method: :delete %></div>
		</div>
		<% end %>
		
		<div class="clear"></div>
		
	</div>
</div>