<% provide(:title, 'Öl') %>
<h1><%= yield(:title) %></h1>
<div>
	<%= link_to "Lägg till Öl", new_beer_path %> - <%= link_to "Öl-typer", beer_types_path %>
</div>
<div>
<% @beers.each do |beer| %>
	<p>
		<%= link_to beer.name, beer_path(beer) %><br />
		<%= link_to "Redigera", edit_beer_path(beer) %>
		<%= link_to "Ta bort", beer_path(beer) , method: :delete %>
	</p>
<% end %>
</div>