<div id="logo">
	<img src="/images/logo.png" alt="God Öl logo" />
</div>
<% if signed_in? %>
<div id="adminnav">
	<ul>
		<% if current_user.admin? %>
		<li>
			<%= link_to "Öl", beers_path %>
			<ul>
				<li><%= link_to "Lägg till öl", new_beer_path %></li>
				<li><%= link_to "Öl-typer", beer_types_path %></li>
			</ul>
		</li>
		<li>
			<%= link_to "Bryggerier", breweries_path %>
			<ul>
				<li><%= link_to "Lägg till Bryggeri", new_brewery_path %></li>
				<li><%= link_to "Kontakttyper", contact_types_path %></li>
			</ul>
		</li>
		<li>
			<%= link_to "Användare", users_path %>
		</li>
		<% end %>
		<li>
			<%= link_to signout_path, method: "delete" do %>
				<%= image_tag "icons/logout.png", size: "32", float: "left" %>Logga ut
			<% end %>
		</li>
	</ul>
</div>
<% else %>
<div id="login">
	<%= render 'layouts/signin' %>
</div>
<% end %>

<div class="clear"></div>