<div>
	
	<div id="beer-me-form" class="form">
		<h2>Beer me!</h2>
		
		<p>
			Vill du testa något nytt men vet inte vad?
			"Beer-me" slumpar fram öl efter dina önskemål!
		</p>
		<%= form_tag(beer_me_path, :method => :get) do |f| %>
			
			<div class="row">
				<div class="col beer-me-option">Typ</div>
				<div class="col beer-me-option">Alkohol</div>
				<div class="col beer-me-option">IBU</div>
			</div>
			
			<div class="row">
				
				<div class="col">
					<% beer_types = BeerType.all.map {|bt| [bt.name, bt.id] } %>
					<%= select_tag :beer_type, options_for_select(beer_types) %>
				</div>
				
				<div class="col">
					<%= select_tag :abv, options_for_select([['0-3%', '0,3'], ['4-5%', '4,5'], ['6-7%', '6,7'], ['8-9%', '8,9']]) %>
				</div>
				
				<div class="col">
					<%= select_tag :ibu, options_for_select([['0-10', '0,10'],['10-20', '10,20'],['20-30', '20,30']]), include_blank: true %>
				</div>
				
			</div>
			
			<div id="btn-beer-me" class="row">
				<%= submit_tag "Beer me!" %>
			</div>
			
			<div class="clear"></div>
		<% end %>
	</div>
</div>

<div id="popular-beers-list">

	<h2>Populära Öl: maj</h2>
	
	<div class="small-list orange">
		
		<% @popular_beers.each do |nb| %>
		<div class="row">
			<div class="col beer"><%= link_to nb.name, beer_path(nb) %></div>
			<div class="col beer-type"><%= link_to nb.beer_type.name, beer_path(nb) %></div>
			<div class="col abv">
				<% if nb.abv %>
				<% link = nb.abv.to_s + '%' %>
				<%= link_to link, beer_path(nb) %>
				<% end %>
			</div>
		</div>
		<% end %>
		
	</div>
	
	<div class="clear"></div>
	
</div>

<div id="new-beers-list">
	
	<h2>Nya Öl</h2>
	
	<div class="small-list orange">
		
		<% @new_beers.each do |nb| %>
		<div class="row">
			<div class="col beer"><%= link_to nb.name, beer_path(nb) %></div>
			<div class="col beer-type"><%= link_to nb.beer_type.name, beer_path(nb) %></div>
			<div class="col abv">
				<% if nb.abv %>
				<% link = nb.abv.to_s + '%' %>
				<%= link_to link, beer_path(nb) %>
				<% end %>
			</div>
		</div>
		<% end %>
		
	</div>
	
	<div class="clear"></div>
	
</div>