<ul>
	<li><%= link_to 'Start', root_path %></li>
	<li><%= link_to 'Öl', beer_list_path %></li>
	<li><%= link_to 'Bryggerier', brewery_list_path %></li>
	<li><%= link_to 'Kontakt', contact_path %></li>
	<% if signed_in? %>
	<li><%= link_to 'Öl-logg', logged_beers_path %></li>
	<% end %>
</ul>