<!DOCTYPE html>
<html lang="sv">
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrap">
			
			<div id="header-container">
				<div id="header">
					<%= render 'layouts/header' %>
				</div>
			</div>
			
			<div id="nav-container">
				<div id="nav">
					<%= render 'layouts/nav' %>
				</div>
				<div class="clear"></div>
			</div>
			
			<div id="main-container">
				<div id="main">
					<%= yield %>
				</div>
			</div>
			
			<div id="clear-footer"></div>
			
		</div>
		
		<div id="footer-container">
			<div id="footer">
				<%= render 'layouts/footer' %>
			</div>
		</div>
		
	</body>
</html>
