<!DOCTYPE html>
<html lang="sv">
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrap">
			
			<div id="header-wrap">
				<div id="header-container">
					<div id="header" class="c12">
						<%= render 'layouts/header' %>
					</div>
				</div>
			</div>
			
			<div id="nav-wrap">
				<div id="nav-container">
					<div id="nav" class="c12">
						<%= render 'layouts/nav' %>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			
			<div id="main-wrap">
				
				<div id="main-container">
					<% if flash[:notice] %>
					<div class="notice"><%= flash[:notice] %></div>
					<% end %>
					<%= yield %>
				</div>
			</div>
			
			<div id="clear-footer"></div>
			
		</div>
		
		<div id="footer-wrap">
			<div id="footer-container">
				<div id="footer" class="c12">
					<%= render 'layouts/footer' %>
				</div>
			</div>
		</div>
		
	</body>
</html>
